
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Het gaat om de volgende HEX-codes, root is een pseudo-class*/
:root {
    --color-purple: #5722CD;
    --color-blue: #4845E4;
    --color-pink: #ED4385;
    --color-black: #0C0C0C;
    --color-light-purple: #F2F0FF;
    --color-light-grey: #F2F0FF;
    --color-grey: #7A7A7A;
}
/*deze gaat dus alleen over de body html */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-grey);
}


/* ------------------------------- 2. Typography ----------------------------------- */
/*voor de headings staat er dan weet nog niet wat dan ?*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', sans-serif;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;

}

p {
    margin: 20px 0;
    line-height: 1.6;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid red;
}

.inner-container{
    flex-basis: 1400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    border: 1px solid blue;
}


/* --------------- 3.2 Other --------------------------- */
a,
a:visited,
a:link{
    text-decoration: none;
    color: var(--color-purple);
}

button {
    background: var(--color-pink);
    border-radius: 30px;
    border: none;
    color: #fff;
    padding: 12px 24px;
    margin: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: 'Merriweather', sans-serif;
}

button:hover {
    cursor: pointer;
}

img {
    width: 100%;
}
/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
.header-section{
    background-color: var(--color-purple);
    color: var(--color-light-grey);
}

.header-nav{
    border: 1px solid green;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
    align-items: center;
}

.header-nav ul li{
    color: var(--color-light-grey);
    margin: 5px 5px;
}

.header-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    padding: 40px 120px;
}
.header-text{
    border: 1px solid purple;
    width: 1000px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* --------------- 4.2 Introduction ------------------- */

.introduction-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid yellow;
    width: 1000px;
    padding: 40px;
    text-align: center;
}
.introduction-section h2{
    color: var(--color-purple);
}
.introduction-section p{
    margin: 100px 0;
}
/* ------------------------------- 5. Media Queries -------------------------------- */